/* Mobile Device Breakpoint */

@media screen and (max-width: 576px) {
    nav ul{
        display: none;
    }
    nav .logo{
        font-size: 30px;
    }
    .menu_bar{
        display: block;
    }
    .banner_title{
        font-size: 30px;
    }
    .team_section{
        padding: 15px;
    }
    .teams_container{
        flex-direction: column-reverse;
    }
    .team_images_content{
        grid-template-columns: repeat(1,1fr);
    }
    .team_title{
        width: 100%;
    }
    .team_desc_content{
        width: 100%;
        margin-left: 0px;
    }
    .team_images_content{
        width: 100%;
        margin-right: 0px;
    }

    .team_desc_content button{
        margin: 20px 0px;
        text-align: center;
    }
    .feature_section{
        padding: 10px;
    }
    .features_container{
        flex-direction: column;
    }
.feature_top_content .top_title{
    font-size: 30px;
}
    .feature_contents{
        width: 100%;
        margin-right: 0px;
    }

    .feature_image{
        width: 100%;
        margin-left: 0px;
    }
    .feature_section .experiance {
        display: none;
    }
    .some_facts{
        padding: 10px;
    }
.facts_top_content{
    width: 100%;
}
    .facts_card_container{
        grid-template-columns: repeat(1, 1fr);
    }
    .facts_card_container .card{
        width: 100%;
        margin-bottom: 20px;
    }
    .sponsor_section{
        padding: 20px;
    }
    .sponsor_desc{
        width: 100%;
    }
     .sponsor_companys{
        grid-template-columns: repeat(1,1fr);
        
     }
     .sponsor_companys .company{
        padding: 20px;
        text-align: center;
     }
    .footer_container{
        padding: 10px;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    nav ul{
        display: none;
    }
    .menu_bar{
        display: block;
    }
    .banner_title{
        font-size: 40px;
    }
    .team_section{
        padding: 20px;
    }
    .teams_container{
        flex-direction: column-reverse;
    }
    .team_images_content{
        width: 100%;
        margin-right: 0px;
    }
    .team_images_content img{
        width: 100%;
    }
     
    .team_desc_content{
        width: 100%;
        margin-left: 0px;
    }
.team_desc{
    width: 100%;
}
    .team_title {
        width: 100%;
    }
    .team_desc_content button{
        margin: 20px 0px;
        text-align: center;
    }
.feature_section{
    padding: 10px;
}
    .features_container{
        flex-direction: column;
    }
    .feature_contents{
        width: 100%;
        margin-right: 0px;
    }

    .feature_image{
        width: 100%;
        margin-left: 0px;
    }
    .feature_section .experiance {
        display: none;
    }
    .some_facts{
        padding: 20px;
    }
    .facts_card_container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
         gap: 10px;
    }
    .facts_card_container .card{
        margin-bottom: 30px;
        width: 100%;
    }
    .sponsor_section{
        padding: 20px;
    }
     .sponsor_companys{
        grid-template-columns: repeat(2,1fr);
     }
     .sponsor_companys .company{
        padding: 20px;
        text-align: center;
     }
}