/* Google Fonts CDN */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* Custome Css Styls Start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.text_center {
    text-align: center;
}

.text_left {
    text-align: left;
}

.text_right {
    text-align: right;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.btn_primary {
    border-radius: 8px;
    background: #FF900E;
    padding: 10px 15px;
    border: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

/* Common Css Style End */

/* Nav Css Style Start */
.header {
    background: rgba(255, 144, 14, 0.10);
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    color: #131313;
}

nav>ul {
    display: flex;
}

nav ul li {
    margin-right: 30px;
}

nav ul li a {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    color: #424242;
}

.menu_bar {
    display: none;
}

.banner_section {
    margin-top: 50px;
    padding: 50px 0px;
}

.banner_content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner_title {
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    color: #131313;
}

.banner_desc {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #727272;
    margin: 20px 0px;
}

.banner_img {
    margin-top: 20px;
}

.banner_img img {
    width: 100%;
}

/* Nav Css Style End */

/* Main section Css Style Start */
/* Team Secttion css */
.team_section {
    margin-top: 80px;
    padding: 40px 0px;
}

.teams_container {
    display: flex;
    align-items: center;

}

.team_title {
    width: 450px;
    margin-bottom: 20px;
}

.team_desc {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #727272;
    margin-bottom: 20px;
}

.normal_color {
    color: #727272;
    font-size: 40px;
    font-weight: 700;
}

.black_color {
    color: #131313;
    font-size: 40px;
    font-weight: 700;
}

.primary_color {
    color: #FF900E;
    font-size: 40px;
    font-weight: 700;
}

.team_images_content {
    width: 48%;
    margin-right: 2%;
}

.team_images_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.team_images_content img {
    width: 100%;
}

.team_desc_content {
    width: 50%;
    margin-left: 2%;
}

/* Feature Section Start */
.feature_section {
    margin-top: 70px;
    padding: 50px 0px;

}

.feature_section .experiance {
    background-color: #FF900E;
    padding: 30px;
    font-size: 40px;
    color: white;
    width: 350px;
    height: auto;
    border-radius: 5px;
    position: relative;
    top: -72px;
    left: 527px;
    text-align: center;
}

.features_container {
    display: flex;
}

.feature_top_content {
    margin: 15px 0px;

}

.feature_top_content .top_title {
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    color: #131313;
    margin-bottom: 15px;
    border-left: 7px solid #FF900E;
    ;
}

.feature_top_content span {
    margin: 0px 10px;
}

.feature_bottom_content {
    margin: 15px 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    border-radius: 7px;
}

.feature_bottom_content .bottom_title {
    margin-bottom: 10px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.feature_bottom_content .bottom_desc {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #727272;
}

.feature_contents {
    width: 48%;
    margin-right: 2%;
}

.feature_image {
    width: 48%;
    margin-left: 2%;
}

.feature_image img {
    width: 100%;
}


/* Facts Section Css */
.some_facts {
    padding: 50px 0px;
    margin: 60px 0px;
}

.facts_card_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 80px;
}

.facts_top_content {
    width: 500px;
}

.facts_title {
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    color: #131313;
    margin-bottom: 20px;
}

.facts_desc {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #727272;
}

.card {
    border: 1px solid #FF900E;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    width: 230px;
    height: auto;
}

/* Sponsor Section */
.sponsor_section {
    padding: 50px 0px;
    margin-top: 70px;
}

.sponsor_top {
    text-align: center;
    margin-bottom: 50px;
}

.sponsor_title {
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    color: #131313;
    margin-bottom: 20px;
}

.sponsor_desc {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #727272;
    width: 450px;
    margin: 0 auto;
}

.sponsor_companys {
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.company img {
    width: 150px;
    height: auto;
}

/* Main section Css Style End */

/* Footer Css */
footer{
    padding: 50px 0px;
    
}

.footer_container{
    background-color: bisque;
    padding: 30px;
    text-align: center;
    border-radius: 8px;
background: #FFF4E7;
}

.footer_content{
font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: #424242;
}